{
    "theme": "default",
    "extensions": ["/ext/theme/default.js", "/ext/document.js", "/ext/overview.js", "/ext/find-action.js", "/ext/chain.js", "/ext/chain_select.js", "/ext/chain_activate.js"],
    "language": "en_au",
    "toolbarLeft": ["document.save"],
    "toolbarTop": [],
    "toolbarRight": ["find-action.find"]
}