{
    "theme": "default",
    "keymap": "default",
    "extensions": [
        "/ext/circuit.js",
        "/ext/theme/default.js", 
        "/ext/document.js", 
        "/ext/overview.js", 
        "/ext/find-action.js", 
        "/ext/chain-view.js", 
        "/ext/tree-view.js", 
        "/ext/chain_select.js", 
        "/ext/chain_activate.js",
        "/ext/chain_add.js"
    ],
    "language": "en_au",
    "toolbarLeft": ["document.save"],
    "toolbarTop": [],
    "toolbarRight": ["find-action.find"]
}