#interface {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    grid-template-rows: var(--toolbar-size) 1fr var(--statusbar-size);
    grid-template-columns: var(--toolbar-size) var(--panel-left-size) 1fr var(--panel-right-size) var(--toolbar-size);

    grid-template-areas: 'toolbar-top toolbar-top toolbar-top toolbar-top toolbar' 'toolbar-left panel-left viewport panel-right toolbar-right' 'statusbar statusbar statusbar statusbar statusbar';
}

#viewport {
    grid-area: viewport;
    overflow: hidden;
}

.panel.left { grid-area: panel-left; overflow: auto; }
.panel.right { grid-area: panel-right; overflow: auto; }

#statusbar {
    grid-area: statusbar;
}

.toolbar.top { grid-area: toolbar-top; }
.toolbar.left { grid-area: toolbar-left; }
.toolbar.right { grid-area: toolbar-right; }
