* {
    /* box-sizing: border-box !important; */
    user-select: none;
    -webkit-user-select: none;
}

#interface {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    grid-template-rows: var(--toolbar-size) 1fr var(--statusbar-size);
    grid-template-columns: var(--toolbar-size) var(--panel-left-size) auto 1fr auto var(--panel-right-size) var(--toolbar-size);

    grid-template-areas: 'toolbar-top toolbar-top toolbar-top toolbar-top toolbar-top toolbar-top toolbar''toolbar-left panel-left splitter-left viewport splitter-right panel-right toolbar-right''statusbar statusbar statusbar statusbar statusbar statusbar statusbar';
}

#interface:not(.panel-left).panel-right {
    grid-template-areas: 'toolbar-top toolbar-top toolbar-top toolbar-top toolbar-top toolbar-top toolbar''toolbar-left viewport viewport viewport splitter-right panel-right toolbar-right''statusbar statusbar statusbar statusbar statusbar statusbar statusbar';
}
#interface.panel-left:not(.panel-right) {
    grid-template-areas: 'toolbar-top toolbar-top toolbar-top toolbar-top toolbar-top toolbar-top toolbar''toolbar-left panel-left splitter-left viewport viewport viewport toolbar-right''statusbar statusbar statusbar statusbar statusbar statusbar statusbar';
}
#interface:not(.panel-left):not(.panel-right) {
    grid-template-areas: 'toolbar-top toolbar-top toolbar-top toolbar-top toolbar-top toolbar-top toolbar''toolbar-left viewport viewport viewport viewport viewport toolbar-right''statusbar statusbar statusbar statusbar statusbar statusbar statusbar';
}

#viewport {
    grid-area: viewport;
    overflow: hidden;
}

.panel.left {
    grid-area: panel-left;
    overflow: auto;
}

.splitter {
    grid-area: splitter-right;
}

.panel.left + .splitter {
    grid-area: splitter-left;
}

.panel.right {
    grid-area: panel-right;
    overflow: auto;
}

#statusbar {
    grid-area: statusbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--statusbar-size);
}

.toolbar.top {
    grid-area: toolbar-top;
    overflow: hidden;
}

.toolbar.left {
    grid-area: toolbar-left;
    overflow: hidden;
    /* flex-direction: column; */
    justify-content: space-around;
    flex-flow: column nowrap;
    overflow-y: auto;
}

.toolbar.right {
    grid-area: toolbar-right;
    overflow: hidden;
    /* flex-direction: column; */
    justify-content: space-around;
    flex-flow: column nowrap;
    overflow-y: auto;
}

.toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* align-items: stretch; */
}

.logicx-control {
    /* margin: 4px; */
}

#statusbar .spacer {
    flex: 1;
    display: block;
    width: auto;
}

#statusbar .status-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}