:root,
body {
    margin: 0;
    padding: 0;

    --statusbar-size: 24px;
    --toolbar-size: 48px;
    --panel-left-size: 256px;
    --panel-right-size: 256px;
}

body {
    background: var(--theme-background);
    color: var(--theme-font-colour);
    font: var(--theme-font-size) var(--theme-font-family);
}

/* # Custom Widget Styles */

/* General Styling for widgets that shouldn't be theme-adjustable */

/* ## Dropdowns and Comboboxes */

.logicx-widget.dropdown-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.logicx-widget.dropdown-container .dropdown-header {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;
}

.logicx-control.dropdown-option-list {
    display: inline-block;
    position: relative;
    cursor: pointer;
    max-width: 180px;
    width: 100%;
    /* flex: 1; */
}

.logicx-control.dropdown-option-list .dropdown-active {
    text-align: center;
    width: 100%;
    display: flex;
}

.logicx-control.dropdown-option-list .dropdown-active:before {
    content: '';
    font-family: 'remixicon';
    display: block;
    width: var(--padding);
    text-align: left;
}

.logicx-control.dropdown-option-list .dropdown-expanded-options:focus-within {
    display: block;
    pointer-events: all;
    width: auto;
    height: auto;
    opacity: 1;
}

.logicx-control.dropdown-option-list .dropdown-expanded-options {
    position: fixed;
    pointer-events: none;
    width: 0;
    height: 0;
    opacity: 0;
    box-shadow: 0 0 4px 0 #333;
}

.logicx-control.dropdown-option-list .dropdown-expanded-options .dropdown-option {
    display: block;
}

.logicx-control.dropdown-option-list .dropdown-expanded-options>* {
    display: block;
}

.logicx-control.dropdown-viewbox {
    grid-row: 2;
}

/* Tabs */
.logicx-widget.tab-container .tab-header {
    display: flex;
    flex-direction: row;
}

.logicx-widget.tab-container .tab-header .tab {
    flex: 1;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0;
    margin-right: 0;
    padding: var(--theme-padding);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.logicx-widget.tab-container .tab-header .tab:not(.active) {
    border-color: var(--theme-foreground);
    box-shadow: none;
}

/* ## Tree */

.logicx-widget.tree {
    display: block;
    list-style-type: none;
    padding: 0;
}

.logicx-widget.tree .logicx-widget.tree-item,
.logicx-widget.tree .logicx-widget.tree-item label {
    width: 100%;
}

.logicx-widget.tree div {
    padding-left: 8px;
}

.logicx-widget.tree .logicx-widget.tree-item::before {
    content: '';
    font-family: 'remixicon';
    display: inline-block;
    width: var(--statusbar-size);
    text-align: center;
}

/* ## Splitter */

.splitter {
    width: var(--theme-border-weight);
    background: var(--theme-foreground);
    cursor: col-resize;

    /* border-left: var(--theme-border-weight) solid var(--theme-border-colour); */
}

/* # Custom Control Styles */

/* ## Buttons */

.toolbar.left .logicx-control.toolbar-button,
.toolbar.right .logicx-control.toolbar-button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: var(--toolbar-size);
    display: inline;
    min-width: calc(var(--toolbar-size) * 2.5);
    max-width: calc(var(--toolbar-size) * 2.5);
}

.toolbar.left .logicx-control.toolbar-button {
    rotate: -90deg;
}

.toolbar.right .logicx-control.toolbar-button {
    rotate: 90deg;
}

.logicx-control.toolbar-button:hover,
#statusbar .status-item:hover,
#statusbar .status-item:focus,
button:hover,
input:hover,
button:focus,
input:focus {
    filter: brightness(1.15) contrast(1.15);
}