:root, body {
    margin: 0;
    padding: 0;

    --statusbar-size: 24px;
    --toolbar-size: 48px;
    --panel-left-size: 365px;
    --panel-right-size: 256px;
}

body {
    background: var(--theme-background);
    color: var(--theme-font-colour);
    font: var(--theme-font-size) var(--theme-font-family);
}

ul.tree li.tree-item::marker {
    content: '';
    font-family: 'remixicon';
}

ul.tree li.tree-item.expanded::marker {
    content: '';
}

/* Custom Widget Styles */

.dropdown-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.dropdown-container .dropdown-header {
    grid-row: 1;
}
.dropdown-container .dropdown-option-list {
    display: inline;
    position: relative;
    cursor: pointer;
}
.dropdown-container .dropdown-option-list .dropdown-expanded-options:focus-within, .dropdown-container .dropdown-option-list .dropdown-expanded-options:focus {
    display: block;
    width: auto;
    opacity: 1;
}
.dropdown-container .dropdown-option-list .dropdown-expanded-options {
    position: fixed;
    width: 0;
    opacity: 0;
}
.dropdown-container .dropdown-option-list .dropdown-expanded-options > * {
    display: block;
}
.dropdown-container .dropdown-viewbox {
    grid-row: 2;
}