@import './master.css';
@import './layout.css';

/*
This file is responsible only for theme-adjustable properties
Any styles defined here are controlled by theme values.
*/

/* System */

#statusbar {
    background: var(--theme-primary);
}

#statusbar .logicx-status-item .icon,
#statusbar .logicx-status-item .icon {
    text-align: center;
    min-width: var(--toolbar-size);
    max-width: var(--toolbar-size);
}

#statusbar .logicx-status-item,
#statusbar .logicx-status-item {
    height: var(--statusbar-size);
    background: var(--theme-primary);
}

#viewport {
    background: var(--background);
}

/* common */
.logicx-control, .logicx-widget, button, input {
    display: block;
    position: relative;
    font: var(--theme-font-size) var(--theme-font-family);
    --colour: var(--theme-font-colour);
    --padding: var(--theme-padding);
    --background: var(--theme-primary);
    border: none;
    --border: var(--theme-border-weight) solid var(--theme-border-colour);
    border-radius: var(--theme-border-radius);
    cursor: pointer;
}

.checkbox {
    background: var(--background);
    padding: var(--theme-margin);
}

.checkbox .checkbox-inner {}

.radio {}

.radio .radio-inner {}

.single-line {}

.multi-line {}

.tab {
    border-bottom: var(--border);
    background: var(--theme-background);
}

.toolbar-button, button {
    background: var(--background);
    color: var(--colour);
}

button {
    padding: var(--theme-padding);
}

.text {
    color: var(--colour);
    padding: var(--padding);
    border-bottom: var(--border);
    background: transparent;
}

.dropdown-expanded-options {
    background: var(--theme-primary);
    border-radius: var(--theme-border-radius);
    overflow: hidden;
}

.dropdown-expanded-options .dropdown-option {
    color: var(--colour);
    padding: var(--theme-padding);
    background: var(--theme-background);
}

.dropdown-expanded-options .dropdown-option:hover {
    background: var(--theme-accent);
}

.dropdown-expanded-options .dropdown-option:focus {
    background: var(--theme-accent);
}

.dropdown-option-list {
    padding: var(--theme-padding);
    border-bottom: var(--border);
}

.logicx-menu {
    position: fixed;
    background: var(--theme-background);
    color: var(--theme-)
}
